# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Data and Results
# Allow processed data folder
!data/
!data/processed/
!data/processed/*.csv

# Allow images and special json
!*.png
!*.jpg
!*.jpeg
!app/src/agents/demo/questions.json
!app/src/agents/demo/screenshots/

# Ignore outputs if they are temporary
outputs/